# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ShopBot2\ShopBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
